fastapi
uvicorn
langchain
langchain-community
langchain-core
langchain-groq
langchain-tavily
requests
python-dotenv
pydantic
python-3.10.13
# Voice
# openai-whisper
# elevenlabs

# Frontend (optional if separate)
# streamlit