fastapi
uvicorn
langchain
langchain-community
langchain-core
langchain-groq
langchain-tavily
requests
python-dotenv
pydantic

# Voice
# openai-whisper
# elevenlabs

# Frontend (optional if separate)
# streamlit